{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Blog Profile | Blueberry - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Implementing Plugins -->
    <link
      rel="stylesheet"
      href="{% static "blueberry/assets/vendor/font-awesome/css/all.min.css" %}"
    />
   
   
    <link rel="stylesheet" href="{% static "blueberry/assets/vendor/aos/dist/aos.css" %}" />
   
    <link
      rel="stylesheet"
      href="{% static "blueberry/assets/vendor/hs-video-bg/dist/hs-video-bg.min.css" %}"
    />
   
  

   

    <!-- CSS Blueberry Template -->
    <link rel="stylesheet" href="{% static "blueberry/assets/css/theme.css" %}" />

    <!-- CSS Blueberry Doc -->
    
  </head>
  <body>
    <!-- ========== HEADER ========== -->
   
    <header id="header" class="header">
      <div class="header-section">
        <div id="logoAndNav" class="container">
          <!-- Nav -->
          <nav class="js-mega-menu navbar navbar-expand-lg">
            <div class="navbar-nav-wrap">
              <!-- Logo -->
              <a class="navbar-brand navbar-nav-wrap-brand" href="#" aria-label="Blueberry">
                <img src="{% static "blueberry/assets/svg/logos/logo.svg" %}" alt="Logo">
              </a>
              <!-- End Logo -->
    
              <!-- Secondary Content -->
              <div class="navbar-nav-wrap-content text-center">
                <!-- Search 
                <a class="js-hs-search-unfold-invoker btn btn-xs btn-icon btn-ghost-secondary search-slide-down-trigger" href="javascript:;" role="button"
                   data-hs-unfold-options='{
                     "target": "#searchSlideDown",
                     "type": "css-animation",
                     "animationIn": "fadeIn search-slide-down-show",
                     "animationOut": "fadeOutUp",
                     "cssAnimatedClass": null,
                     "hasOverlay": true,
                     "overlayClass": ".search-slide-down-bg-overlay",
                     "overlayStyles": {
                       "background": "rgba(55, 125, 255, .1)"
                     },
                     "duration": 800,
                     "hideOnScroll": false
                   }'>
                  <i class="fas fa-search search-slide-down-trigger-icon"></i>
                </a>
                -->
                <!-- End Search -->
              </div>
              <!-- End Secondary Content -->
    
              <!-- Responsive Toggle Button -->
              <button type="button" class="navbar-toggler navbar-nav-wrap-toggler btn btn-icon btn-sm rounded-circle"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="navbar-toggler-default">
                  <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
                  </svg>
                </span>
                <span class="navbar-toggler-toggled">
                  <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                  </svg>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
    
              <!-- Navigation -->
              <div id="navBar" class="collapse navbar-collapse navbar-nav-wrap-collapse">
                <div class="navbar-body header-abs-top-inner">
                  <ul class="js-scroll-nav navbar-nav header-navbar-nav">
                    <li class="header-nav-item active">
                      <a class="nav-link header-nav-link" href="#">Home</a>
                    </li>
                    <li class="header-nav-item">
                      <a class="nav-link header-nav-link" href="#">About</a>
                    </li>
                
                    <li class="header-nav-item">
                      <a class="nav-link header-nav-link" href="#">Events</a>
                    </li>
                  
                    <li class="header-nav-item">
                      <a class="nav-link header-nav-link" href="#">Contacts</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End Navigation -->
            </div>
          </nav>
          <!-- End Nav -->
        </div>
      </div>
    </header>


    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN ========== -->
    <main id="content" role="main">
      <!-- User Profile Section -->
      <div class="container space-top-1 space-bottom-2">
        <div class="border-bottom w-md-75 w-lg-60 space-bottom-2 mx-md-auto">

          <!--  

          <div class="media d-block d-sm-flex">
            <div
              class="position-relative mx-auto mb-3 mb-sm-0 mr-sm-4"
              style="width: 160px; height: 160px"
            >
              <img
                class="img-fluid rounded-circle"
                src="{% static "blueberry/assets/img/160x160/img1.jpg" %}"
                alt="Image Description"
                width="160"
                height="160"
              />
              <img
                class="bg-white position-absolute bottom-0 right-0 rounded-circle p-1"
                src="{% static "blueberry/assets/svg/illustrations/top-vendor.svg" %}"
                alt="Icon"
                width="36"
                height="36"
                title="Top Writer"
              />
            </div>

            <div class="media-body">
              <div
                class="d-flex justify-content-between align-items-center mb-2"
              >
                <h1 class="h3">Hanna Wolfe</h1>
                <div class="d-block">
                  <button
                    type="button"
                    class="btn btn-xs btn-outline-primary font-weight-bold text-nowrap ml-1"
                  >
                    Follow
                  </button>
                </div>
              </div>

              <div class="row text-body font-size-1 mb-2">
                <div class="col-auto">
                  <span class="h6">906</span>
                  <span>Posts</span>
                </div>
                <div class="col-auto">
                  <span class="h6">19.5k</span>
                  <span>Followers</span>
                </div>
                <div class="col-auto">
                  <span class="h6">109</span>
                  <span>Following</span>
                </div>
              </div>

              <p class="mb-0">
                Nataly is a freelance journalist who's been published by Popular
                Science, The Washington Post, USA Today, Slate, and many more.
                Read more at
                <a class="font-weight-bold" href="#">hannawolfe.com</a>
              </p>
            </div>
          </div>
          -->
          <!-- Search Section -->
<div class="bg-navy">
  <div class="bg-img-hero-center" style="background-image: url({% static "blueberry/assets/svg/components/abstract-shapes-19.svg" %});">
    <div class="container space-1">
      <div class="w-lg-80 mx-lg-auto">
        <!-- Input -->
        <form action=" {% url 'blog:search_blog' %} " class="input-group input-group-merge input-group-borderless">
          <div class="input-group-prepend">
            <span class="input-group-text" id="askQuestions">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <input type="search" class="form-control" placeholder="Search for answers" name="q" aria-label="Search for answers" aria-describedby="askQuestions">
        </form>
        <!-- End Input -->
      </div>
    </div>
  </div>
</div>
<!-- End Search Section -->

        </div>
      </div>
      <!-- End User Profile Section -->

      <!-- Blog Listing Section 

    <!-- section main content -->

      {% for post in posts %}
      <div class="container space-bottom-3">
        <div class="w-md-75 w-lg-60 mx-md-auto">
            {% for post in queryset %}
              
            
          <article class="card mb-3 mb-sm-5">
            <img
              class="card-img-top"
              src="{{post.thumbnail.url}}"
              alt="Image Description"
            />

            <div class="card-body">
             

              <h2 class="h3">
                <a class="text-inherit" href="single-article.html"
                  >{{ post.title }}</a
                >
              </h2>

              <p>
                {{ post.short_description }}
              </p>

              <div class="media align-items-center pt-5">
                <div class="avatar-group">
                  <div
                    class="avatar avatar-xs avatar-circle"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Hanna Wolfe"
                  >
                  <a href="{{ post.get_absolute_url }}">
                  <button
                  type="button"
                  class="btn btn-xs btn-outline-primary font-weight-bold text-nowrap ml-1"
                >
                  view more
                </button>
              </a>

                  </div>
                </div>
                <div
                  class="media-body d-flex justify-content-end text-muted font-size-1 ml-2"
                >
                {{ post.creation | timesince}}
                </div>
              </div>
            </div>
          </article>
        
          {% endfor %}
        </div>

        </div>
      </div> 


          <!-- End Blog Card -->

        

          <div class="space-bottom-2"></div>

          
          <!-- Pagination 
                    <nav aria-label="Page navigation">
                      <ul class="pagination mb-0">
                        
                        {% if page_obj.has_previous %}
                        <li class="page-item mr-auto">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="d-none d-sm-inline-block ml-1">Prev</span>
                          </a>
                        </li>
                        
                        {% else %}
                        <li class="page-item mr-auto">
                          <a class="page-link" href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="d-none d-sm-inline-block ml-1">Prev</span>
                          </a>
                        </li>
                        
                        {% endif %}
                        
                        
                        {% load l10n %}           
                        {% for post in page_obj.paginator.page_range %}
                        
                        {% if page_obj.number == post %}
                        <li class="page-item active">
                          <a class="page-link" href="?page={{ post }}">{{ post | localize }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ post }}">{{ post }}</a>
                        </li>
          
                        {% endif %}
                        {% endfor %}
                        
                        
                        {% if page_obj.has_next %}
                        <li class="page-item ml-auto">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span class="d-none d-sm-inline-block mr-1">Next</span>
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item ml-auto">
                          <a class="page-link" href="" aria-label="Next">
                            <span class="d-none d-sm-inline-block mr-1">Next</span>
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        
                        {% endif %}
                      
                      
                      </ul>
                    </nav>
                    -->
                    <!-- End Pagination -->

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'blog:blog_list' %}"> blog Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">search result</li>
      </ol>
    </nav>

    <h1> You search:{{ query }}</h1>
                
        </div>
      </div>
      <!-- End Blog Listing Section -->
    </main>
    <!-- ========== END MAIN ========== -->

    <!-- ========== FOOTER ========== -->
    <!-- ========== FOOTER ========== -->

    <hr>
<footer class="container space-2 text-center">
  <!-- Logo -->
  <a class="d-inline-flex align-items-center mb-3" href="#" aria-label="Blueberry">
    <img class="brand" src="{% static "blueberry/assets/svg/logos/logo.svg" %}" alt="Logo">
  </a>
  <!-- End Logo -->

 
  <p class="font-size-1">© Blueberry. 2020 Nimusoft. All rights reserved.</p>

  <!-- Social Networks -->
  <ul class="list-inline mb-0">
    
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-medium-m"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-github"></i>
      </a>
    </li>
    
  </ul>
  <!-- End Social Networks -->
</footer>
<!-- ========== END FOOTER ========== -->
    <!-- ========== END FOOTER ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Account Sidebar Navigation -->
    <aside id="sidebarContent" class="hs-unfold-content sidebar">
      <div class="sidebar-scroller">
        <div class="sidebar-container">
          <div class="sidebar-footer-offset" style="padding-bottom: 7rem">
            <!-- Toggle Button -->
            <div
              class="d-flex justify-content-end align-items-center pt-4 px-4"
            >
              <div class="hs-unfold">
                <a
                  class="js-hs-unfold-invoker btn btn-icon btn-xs btn-soft-secondary"
                  href="javascript:;"
                  data-hs-unfold-options='{
                  "target": "#sidebarContent",
                  "type": "css-animation",
                  "animationIn": "fadeInRight",
                  "animationOut": "fadeOutRight",
                  "hasOverlay": "rgba(55, 125, 255, 0.1)",
                  "smartPositionOff": true
                 }'
                >
                  <svg
                    width="10"
                    height="10"
                    viewBox="0 0 18 18"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill="currentColor"
                      d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <!-- End Toggle Button -->

            <!-- Content -->
            <div class="scrollbar sidebar-body">
              <div class="sidebar-content py-4 px-7">
                <form class="js-validate">
                  <!-- Login -->
                  <div id="login">
                    <!-- Title -->
                    <div class="text-center mb-7">
                      <h3 class="mb-0">Sign In to Blueberry</h3>
                      <p>Login to manage your account.</p>
                    </div>
                    <!-- End Title -->

                    <!-- Input Group -->
                    <div class="js-form-message mb-4">
                      <label class="input-label">Email</label>
                      <div class="input-group input-group-sm mb-2">
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="signinEmail"
                          placeholder="Email"
                          aria-label="Email"
                          required
                          data-msg="Please enter a valid email address."
                        />
                      </div>
                    </div>
                    <!-- End Input Group -->

                    <!-- Input Group -->
                    <div class="js-form-message mb-3">
                      <label class="input-label">Password</label>
                      <div class="input-group input-group-sm mb-2">
                        <input
                          type="password"
                          class="form-control"
                          name="password"
                          id="signinPassword"
                          placeholder="Password"
                          aria-label="Password"
                          required
                          data-msg="Your password is invalid. Please try again."
                        />
                      </div>
                    </div>
                    <!-- End Input Group -->

                    <div class="d-flex justify-content-end mb-4">
                      <a
                        class="js-animation-link small link-underline"
                        href="javascript:;"
                        data-hs-show-animation-options='{
                         "targetSelector": "#forgotPassword",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'
                        >Forgot Password?</a
                      >
                    </div>

                    <div class="mb-3">
                      <button
                        type="submit"
                        class="btn btn-sm btn-primary btn-block"
                      >
                        Sign In
                      </button>
                    </div>

                    <div class="text-center mb-3">
                      <span class="divider divider-xs divider-text">OR</span>
                    </div>

                    <a
                      class="btn btn-sm btn-ghost-secondary btn-block mb-2"
                      href="#"
                    >
                      <span
                        class="d-flex justify-content-center align-items-center"
                      >
                        <img
                          class="mr-2"
                          src="{% static "blueberry/assets/img/160x160/img17.png" %}"
                          alt="Image Description"
                          width="14"
                          height="14"
                        />
                        Sign In with Google
                      </span>
                    </a>

                    <div class="text-center">
                      <span class="small text-muted"
                        >Do not have an account?</span
                      >
                      <a
                        class="js-animation-link small font-weight-bold"
                        href="javascript:;"
                        data-hs-show-animation-options='{
                         "targetSelector": "#signup",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'
                        >Sign Up
                      </a>
                    </div>
                  </div>

                  <!-- Signup -->
                  <div id="signup" style="display: none; opacity: 0">
                    <!-- Title -->
                    <div class="text-center mb-7">
                      <h3 class="mb-0">Create your account</h3>
                      <p>Fill out the form to get started.</p>
                    </div>
                    <!-- End Title -->

                    <!-- Input Group -->
                    <div class="js-form-message mb-4">
                      <label class="input-label">Email</label>
                      <div class="input-group input-group-sm mb-2">
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="signupEmail"
                          placeholder="Email"
                          aria-label="Email"
                          required
                          data-msg="Please enter a valid email address."
                        />
                      </div>
                    </div>
                    <!-- End Input Group -->

                    <!-- Input Group -->
                    <div class="js-form-message mb-4">
                      <label class="input-label">Password</label>
                      <div class="input-group input-group-sm mb-2">
                        <input
                          type="password"
                          class="form-control"
                          name="password"
                          id="signupPassword"
                          placeholder="Password"
                          aria-label="Password"
                          required
                          data-msg="Your password is invalid. Please try again."
                        />
                      </div>
                    </div>
                    <!-- End Input Group -->

                    <!-- Input Group -->
                    <div class="js-form-message mb-4">
                      <label class="input-label">Confirm Password</label>
                      <div class="input-group input-group-sm mb-2">
                        <input
                          type="password"
                          class="form-control"
                          name="confirmPassword"
                          id="signupConfirmPassword"
                          placeholder="Confirm Password"
                          aria-label="Confirm Password"
                          required
                          data-msg="Password does not match the confirm password."
                        />
                      </div>
                    </div>
                    <!-- End Input Group -->

                    <div class="mb-3">
                      <button
                        type="submit"
                        class="btn btn-sm btn-primary btn-block"
                      >
                        Sign Up
                      </button>
                    </div>

                    <div class="text-center mb-3">
                      <span class="divider divider-xs divider-text">OR</span>
                    </div>

                    <a
                      class="btn btn-sm btn-ghost-secondary btn-block mb-2"
                      href="#"
                    >
                      <span
                        class="d-flex justify-content-center align-items-center"
                      >
                        <img
                          class="mr-2"
                          src="{% static "blueberry/assets/img/160x160/img17.png" %}"
                          alt="Image Description"
                          width="14"
                          height="14"
                        />
                        Sign Up with Google
                      </span>
                    </a>

                    <div class="text-center">
                      <span class="small text-muted"
                        >Already have an account?</span
                      >
                      <a
                        class="js-animation-link small font-weight-bold"
                        href="javascript:;"
                        data-hs-show-animation-options='{
                         "targetSelector": "#login",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'
                        >Sign In
                      </a>
                    </div>
                  </div>
                  <!-- End Signup -->

                  <!-- Forgot Password -->
                  <div id="forgotPassword" style="display: none; opacity: 0">
                    <!-- Title -->
                    <div class="text-center mb-7">
                      <h3 class="mb-0">Recover password</h3>
                      <p>Instructions will be sent to you.</p>
                    </div>
                    <!-- End Title -->

                    <!-- Input Group -->
                    <div class="js-form-message">
                      <label class="sr-only" for="recoverEmail"
                        >Your email</label
                      >
                      <div class="input-group input-group-sm mb-2">
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="recoverEmail"
                          placeholder="Your email"
                          aria-label="Your email"
                          required
                          data-msg="Please enter a valid email address."
                        />
                      </div>
                    </div>
                    <!-- End Input Group -->

                    <div class="mb-3">
                      <button
                        type="submit"
                        class="btn btn-sm btn-primary btn-block"
                      >
                        Recover Password
                      </button>
                    </div>

                    <div class="text-center mb-4">
                      <span class="small text-muted"
                        >Remember your password?</span
                      >
                      <a
                        class="js-animation-link small font-weight-bold"
                        href="javascript:;"
                        data-hs-show-animation-options='{
                         "targetSelector": "#login",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'
                        >Login
                      </a>
                    </div>
                  </div>
                  <!-- End Forgot Password -->
                </form>
              </div>
            </div>
            <!-- End Content -->
          </div>

          <!-- Footer -->
          <footer class="sidebar-footer border-top py-2 px-7">
            <ul class="nav nav-sm">
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Privacy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-info-circle la-lg"></i>
                </a>
              </li>
            </ul>
          </footer>
          <!-- End Footer -->
        </div>
      </div>
    </aside>
    <!-- End Account Sidebar Navigation -->
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- Go to Top -->
    <a
      class="js-go-to go-to position-fixed"
      href="javascript:;"
      style="visibility: hidden"
      data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'
    >
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- End Go to Top -->

    <!-- JS Global Compulsory -->
    <script src="{% static "blueberry/assets/vendor/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "blueberry/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js" %}"></script>
    <script src="{% static "blueberry/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js" %}"></script>

   
   

    <!-- IE Support -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
        document.write(
          '<script src="{% static "blueberry/assets/vendor/polifills.js" %}"><\/script>'
        );
    </script>
  </body>
</html>
